    <section class="navbar">
        <button class="nav_button">Home</button>
        <button class="nav_button">Caracteristicas</button>
        <button class="Cerrar_Sesion nav_button">Cerrar Sesion</button>
    </section>
    <h1>
        Bienvenido,
        Evidencia integración node con angular
    </h1>
    <hr>
    <br>
    <h2>Realizada por: </h2>
    <ul>
        <li>John Morales</li>
        <li>Juan Ospina</li>
        <li>Sebastián Barrera</li>
    </ul>
    <br>
    <br>
    <br>
    <footer-app></footer-app>